.hentry {
    .no-js &,
    .no-mapbox-support & {
        opacity: 1 !important;
    }
    .post-type-archive &,
    .tax-archive & {
        @include transition(opacity 300ms ease-out);
    }
    .post-type-archive .is-loading &,
    .tax-archive .is-loading &,
    .post-type-archive &:not(.is-active):not(:first-child),
    .tax-archive &:not(.is-active):not(:first-child) {
        opacity: 0.3;
    }
    .post-type-archive &.is-past,
    .tax-archive &.is-past {
        opacity: 0.3 !important;
    }
}

.page-title  {
    .post-type-archive &,
    .tax-archive & {
        @include media($lg){
            max-width: 80%;
            float: left;
        }
    }
}

.page-header__right {
    .post-type-archive &,
    .tax-archive & {
        overflow: hidden;
        margin-top: 1rem;
        @include media($lg){
            height: 3rem;
            width: 20%;
            float: right;
            margin-top: 0;
        }
    }
}

.project-search-bar {
    position: relative;
    margin-top: 6rem;
    input {
        @extend .h6;
        @extend .u-mt-0;
        @extend .u-width-100;
        color: $medium-gray;
        border-color: $medium-gray;
        &:hover, &:focus {
            border-color: black;
            color: black;
        }
    }
    .helper {
        font-size: rem(12);
        opacity: 0.5;
    }
}

.project-search-results {
    display: none;
    position: relative;
    background-color: white;
    margin-top: 0;
    padding: 0 0 1rem;
    overflow: auto;
    max-height: rem(250);
    z-index: 999;
    box-shadow: 0 10px 20px -15px;
    width: 100%;

    @include media($md) {
        position: absolute;
        top: 100%;
    }

    &:hover,
    input:focus ~ & {
        display: block;
    }
}