.sidebar-map {
    display: none;
    @include media($md) {
        display: block;
    }
    position: -webkit-sticky;
    position: sticky; // locally testing intended behaviour; unsupported in ie, edge
    top: 0;
    height: 100vh;
    // background-color: #ddd;
}

.project.hentry {
    .post-type-archive-project & {
        opacity: 0.3;
        @include transition(opacity 300ms ease-out);
        &.is-active {
            opacity: 1;
        }
    }
}