.hentry {
    .no-js &,
    .no-mapbox-support & {
        opacity: 1 !important;
    }
    .post-type-archive &,
    .tax-archive & {
        @include transition(opacity 300ms ease-out);
    }
    .post-type-archive .is-loading &,
    .tax-archive &:not(.is-active):not(:first-child) {
        opacity: 0.3;
    }
    .tax-archive &.is-past {
        opacity: 0.3 !important;
    }
}

.page-title  {
    .post-type-archive &,
    .tax-archive & {
        @include media($lg){
            max-width: 80%;
            float: left;
        }
    }
}

.page-header__right {
    .post-type-archive &,
    .tax-archive & {
        overflow: hidden;
        margin-top: 1rem;
        @include media($lg){
            height: 3rem;
            width: 20%;
            float: right;
            margin-top: 0;
        }
    }
}