.site-footer {
    @extend .u-py-3;
}
.footer-column {
    @extend .flex__item;
    .footer-content & {
        @extend .u-pr-6;
        flex: 1 0 flex-grid(6,$grid-columns);
    }
}
.footer-content {
    @extend .flex;
    @include align-items(flex-end);
    border-left: none!important;
    padding: 0!important;
}

// Menus
// ----------------------------//
.menu-item {
    .site-footer & {
        a {
            @extend .u-color-white;
        }
    }
}

// Social
// ----------------------------//
.footer-social {
    @extend .secondary-menu;
}

// Colophon
// ----------------------------//
address {
    .site-footer & {
        font-style: normal;
    }
}
