.site-footer {
    @extend .u-py-3;
}
.footer__content {
    @include align-items(flex-end);
    padding: 0 !important;
    .flex__item {
        @include media($md) {
            padding-right: 6rem;
        }
        flex: 1 0 flex-grid(6,$grid-columns);        
    }
}

// Menus
// ----------------------------//
.menu-item {
    .site-footer & {
        a {
            @extend .u-color-white;
        }
    }
}

// Social
// ----------------------------//
.footer-social {
    @extend .secondary-menu;
}

// Colophon
// ----------------------------//
address {
    .site-footer & {
        font-style: normal;
    }
}
