.site-footer {
    @extend .u-py-3;
    color: white;
    background-color: $blue;

    .post-type-archive-project & {
        background-color: $green;
    }
    .page-team &, .single-team_member & {
        background-color: $purple;
    }
    .post-type-archive-publication & {
        background-color: $orange;
    }
    .blog & {
        background-color: $teal;
    }
    .page-about & {
        background-color: $red;
    }

    .flex__item {
        border-color: white;
    }

    a {
        color: white;
        &:hover, &:focus {
            color: black;
        }
    }
}
.footer__content {
    @include align-items(flex-end);
    padding: 0 !important;
    .flex__item {
        @include media($md) {
            padding-right: 6rem;
        }
        flex: 1 0 flex-grid(6,$grid-columns);        
    }
}

// Social
// ----------------------------//
.footer-social {
    @extend .secondary-menu;
}

// Colophon
// ----------------------------//
address {
    .site-footer & {
        font-style: normal;
    }
}
