.home .featured-post {
    position: relative;
}

.home .team_member.featured {
    .content-right {
        @include media($md) {
            border-left: $border-width solid black;
            padding-left: flex-gutter($grid-columns);
        }
    }
}

.home .publication.featured,
.publication-images {
    @include media($lg) {
        @include display(flex);
        @include flex-wrap(wrap);
    }
    .content-left {
        display: none;
        @include media($lg) {
            display: block;
            border-right: $border-width solid black;
            padding-right: flex-gutter($grid-columns);
            margin-right: flex-gutter($grid-columns);
            @include flex( 0 1 flex-grid(3, $grid-columns) );
        }
        img:not(:first-child) {
            margin-top: $leading;
        }
    }
    .content-right {
        @include media($lg) {
            @include flex( 0 1 flex-grid(8, $grid-columns) );
            @include display(flex);
            @include flex-wrap(wrap);
        }
        .align-flex-end {
            @include align-self(flex-end);
        }
    }
}