#project-timeline {
}

.project-timeline__contents {
    @include media($lg) {
        @include display(flex);
    }
}

.timeline-node {
    display: flex;
    padding-bottom: 5 * $leading;
    @include transition(opacity 300ms ease-out);

    &:not(:first-child) {
        padding-top: 1 * $leading;
    }
    .is-loading & {
        opacity: 0.3;
        pointer-events: none;
    }
    .no-js & {
        opacity: 1 !important;
        pointer-events: all !important;
    }

    .layout-project-stage,
    .layout-events-recap {
        @include media($lg) {
            @include span-columns(8 of 10);
            float: none;
        }
    }

    .layout-project-stage {
        & > *:first-child {
            margin-top: 0;
        }
    }
    
    .layout-event {
        .image {
            @include media($lg) {
                @include span-columns(4 of 10);
            }
        }
        .content {
            @include media($lg) {
                @include span-columns(6 of 10);
            }
        }
        .title {
            @extend .u-mt-nudge;
            @include media($lg) {
                margin-top: -0.18em;
            }
        }
    }

    .layout-events-recap {
        .image {
            @include media($lg) {
                @include span-columns(4 of 8);
            }
            @include media($lg) {
                @include span-columns(2 of 8);
            }
        }
    }

}

.timeline-node__main {
    @include media($lg) {
        @include flex-basis( flex-grid(10, $grid-columns) );
    }
}

.timeline-node__aside {
    display: none;
    @include media($lg) {
        display: block;
        margin-right: flex-gutter($grid-columns);
        @include flex-basis( flex-grid(2, $grid-columns) );
    }
}

.timeline-node__aside-traveller {
    position: sticky;
    position: -webkit-sticky;
    top: 16px;
    .admin-bar & {
        top: 48px;
    }
}
