#project-timeline {
}

.project-timeline__contents {
    @include media($lg) {
        @include display(flex);
    }
}

.project-timeline__items {
    @include media($lg) {
        @include flex-basis( flex-grid(10, $grid-columns) );
    }
}

.project-timeline__item {

    .layout-project-stage,
    .layout-events-recap {
        @include span-columns(8 of 10);
        float: none;
    }
    
    .layout-event {
        .image {
            @include media($lg) {
                @include span-columns(4 of 10);
            }
        }
        .content {
            @include media($lg) {
                @include span-columns(6 of 10);
            }
        }
    }

    .layout-events-recap {
        .image {
            @include media($lg) {
                @include span-columns(4 of 8);
            }
            @include media($lg) {
                @include span-columns(2 of 8);
            }
        }
        // .content {
        //     @include media($lg) {
        //         @include span-columns(4 of 8);
        //     }
        //     @include media($lg) {
        //         @include span-columns(6 of 8);
        //     }
        // }
    }

}

.project-timeline__sidebar-wrap {
    display: none;
    @include media($lg) {
        display: block;
        margin-right: flex-gutter($grid-columns);
        @include flex-basis( flex-grid(2, $grid-columns) );
    }
}

.project-timeline__sidebar {
    position: sticky;
    top: $leading;
    overflow: auto;
    height: 100vh;
}

.project-timeline__sidebar-item {
    a:hover, a:focus {
        color: $green;
    }
}