.project-content {
    @include media($lg) {
        @include span-columns(7);
    }
}
.project-sidebar {
    margin-top: $leading * 3;
    @include media($lg) {
        margin-top: 0;
        @include span-columns(3);
        @include shift(1);
    }
}
.project-sidebar__group {
    @include media($lg) {
        border-left: $border-width solid black;
        padding-left: $leading;
    }
}
