.member-heading {
    &:before {
        content: attr(data-title);
        display: block;
    }
    &:hover:before {
        content: attr(data-title-hover);
    }
}

.member-meta {
    @include media($lg) {
        border-left: 2px solid black;
        padding-left: $leading;
        margin-left: flex-grid(2, $grid-columns);
    }
}