.logo {
    display: block;
    max-width: rem(160);
}
.hsc-logo {
    width: 100%;
    vertical-align: bottom;
    fill: black;
    @include transition(all 300ms ease-out);
    &:hover {
        opacity: 0.5;
    }
    [class*="u-bg-"] &, .site-menu &, .site-footer & {
        fill: white;
        &:hover {
            opacity: 0.5;
        }
    }
}
