.menu {
    @include display(flex);
    @include flex-direction(column);
    @include justify-content(space-between);
    @extend .has-border;
    @extend .u-px-1;
}
.primary-menu {
    margin-top: 3rem;
    @include media($md) {
        margin-top: -0.3rem;
    }
}
.secondary-menu {
    @extend .u-mt-3;
}
.menu-item {
    .primary-menu & {
        @extend .h2;
        @extend .u-mt-0;
    }
    .secondary-menu & {
        @extend .h6;
        @extend .u-mt-0;
    }
    .home & {
        @each $color-name, $hex in $color_map {
            &.#{$color-name} a:hover {
                color: $hex;
            }
        }
        &.home-link {
            display: none;
        }
    }
}

.menu-ui {
    // @extend .u-px-1;
    border-left: $border-width solid black;
    padding-left: flex-gutter($grid-columns);
    .site-menu & {
        border-color: white;
    }
    @include media($md) {
        border: 0;
        position: fixed;
        top: 3rem;
        left: auto;
        padding-left: 0;
        margin-left: calc(-1.75rem + -2.36%);
        z-index: 1000;
        
        .admin-bar & {
            margin-top: 32px;
        }
    }
}
.menu-icon {
    width: 34px;
    height: 20px;
    display: block;
    position: relative;
    cursor: pointer;
}
.menu-icon__bar {
    width: 100%;
    height: 4px;
    background-color: black;
    display: block;
    position: absolute;
    left: 0;
    @include transition( all 200ms ease-out );
    .has-open-menu & {
        background-color: white;
    }

    &.top { 
        top: 0; 
        @include transform-origin(50% center);
        .has-open-menu & {
           @include transform( rotate(225deg) );
           top: 10px;
        }
    }
    &.middle { 
        top: 50%; 
        margin-top: -2px; 
        .has-open-menu & {
            opacity: 0;
            @include transform( translateX(-16px) );
        }
    }
    &.bottom { 
        bottom: 0;
        @include transform-origin( 50% bottom );
        .has-open-menu & {
            @include transform( rotate(-225deg) );
            bottom: 10px;
        }
    }
}