.module {
    @extend .u-py-6;
    .section:last-of-type &:not(.module--quote) {
        padding-bottom: 0;
    }
}
.module--basic {
    @include display(flex);
    @include flex-wrap(wrap);
}
.module__title {
    .module--basic & {
        flex: 0 1 flex-grid(12,$grid-columns);
    }
}
.module__content {
    .module--basic & {
        flex: 0 0 flex-grid(8,$grid-columns);
    }
    &.module__content--full {
        flex: 0 1 flex-grid(12,$grid-columns);
    }
}
.module__aside {
    .module--basic & {
        flex: 0 0 flex-grid(4,$grid-columns);
    }
}
