.page-numbers {
    @extend .h6;
    color: tint(black, 60%);

    &.current,
    &.prev,
    &.next {
        color: black;
    }

    &.next,
    &.prev {
        display: block;
        @include media($md) {
            display: inline;
        }
        &:hover {
            color: $color-link-hover;
        }
    }
    &.next { 
        @include media($md) {
            margin-left: 1rem;
        }
    }
    &.prev {
        margin: 0 0 1rem;
        @include media($md) {
            margin: 0 1rem 0 0;
        }
    }

}