.post-image {
    height: 0;
    padding-bottom: 60%;
    @extend .u-mb-4;
    background-size: cover;
}
.post-meta {
    @extend .u-pl-1;
    @extend .has-border;
    &+& {
        @extend .u-mt-4;
    }
    @include media($md) {
        order: 1;
    }
}
.post-content {
    @include media($md) {
        order: 0;
    }
    padding-right: flex-grid(2,$grid-columns);
    .sidebar + & {
        @extend .u-pr-6;
    }
}
.post-content--expanded {
    padding-right: 0;
}
