.section-content {
    .has-sidebar & {
        flex: 0 1 flex-grid(8,$grid-columns);
        @extend .u-pb-6;
        @include media($md) {
            order: 0;
        }
    }
    .content & {
        flex: 0 1 flex-grid(9,$grid-columns);
    }
    .section:last-of-type & {
        @extend .u-mb-6;
    }
}
