.section-content {
    .has-sidebar & {
        @include media($md) {
            order: 0;
            flex: 0 1 flex-grid(8,$grid-columns);
        }
    }
    .content & {
        flex: 0 1 flex-grid(9,$grid-columns);
    }
}
