.sidebar-map {
    display: none;
    @include transition(opacity 300ms ease-out);
    @include media($md) {
        display: block;
    }
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0;
    height: 100vh;
    
    .is-loading & {
        opacity: 0.3;
    }
}
