.sidebar-map {
    display: none;
    height: 100vh;
    @include transition(opacity 300ms ease-out);
    @include media($md) {
        display: block;
    }
    
    .is-loading & {
        opacity: 0.3;
    }
}
