.sidebar {
    @extend .u-px-1;
    @extend .has-border;
    @include media($md) {
        order: 2;
        flex: 0 0 $sidebar-width;
    }
}
.sidebar-masthead {
    @include media($md) {
        margin-bottom: $leading * 6;
    }
}
.sidebar-post-meta {
    order: 1;
    padding: 0;
    border: none;
}
