@each $color-name, $hex in $border_color_map {
	.u-border-#{$color-name} {
    	@include border( $hex );
	}
}
.has-border {
    @include border( #000000 );
    [class*="u-bg-"] & {
        @include border( #ffffff );
    }
}

.u-border-top {
    border-top: 2px solid black;
}
.u-border-right {
    border-right: 2px solid black;
}
.u-border-bottom {
    border-bottom: 2px solid black;
}
.u-border-left {
    border-left: 2px solid black;
}