// Colors
// ======================================= /
@each $color-name, $hex in $color_map {

	.u-color-#{$color-name} {
    	color: $hex;
	}

	.u-link-#{$color-name} {
		color: $hex;
	}
    
    .u-bg-#{$color-name} {
    	background-color: $hex;
		color: white;
	}
}
