// Typography
// --------------------------------------- /
.u-font-gta-extended { 
    font-family: $gta-extended-black !important; 
    text-transform: uppercase !important; 
}
.u-weight-light     { font-weight: 300 !important; }
.u-weight-normal    { font-weight: 400 !important; }
.u-weight-medium    { font-weight: 500 !important; }
.u-weight-bold      { font-weight: 700 !important; }
.u-caps             { text-transform: uppercase !important; }
.u-font-size-sm     { font-size: 75% !important; }
.u-font-size-lg     { font-size: 125% !important; }
.u-font-size-xl     { font-size: 150% !important; }
.u-text-left        { text-align: left !important; }
.u-text-center      { text-align: center !important; }
.u-text-right       { text-align: right !important; }
.u-underline        { text-decoration: underline !important; }